<% content_for :title do %>About<% end %>

<h3>About Sahaz Bhattarai</h3>

<p>I was born in Biratnagar, Nepal. With peace among the Nepalese people, my growth as an infant to a toddler wasn't a hard thing for my parents. You know how happily childrens grow in villages of Nepal and i was one of them. At 3, my parents decided to move to Kathmandu: the heart of the country. Growning up in the chaotic streets of the city was very different than compared to my village. Vehicles honking and buzzing all day long, people rushing every seconds for the sake of the money, very polluted neighbourhood blah blah .... These all were adversely affecting my growth towards a healthy child. 

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet,
consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum
dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor
sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
labore et dolore magna aliqua.</p>

